/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/Digital\ finance\ and\ banking\ investment\ service\ on\ microchip\ with\ cloud\ computing\ in\ futuristic\ background_\ Bank\ building\ with\ online\ payment\,\ secure\ money\ and\ financial\ innovation\ technology_.jpg);
    padding: 0px;
    width: 100%;
    height: 100%;
}
.style{
    opacity: 0;
}