<h1 class="mt-2 text-light text-center">Transaction Details</h1>

<div class="container w-75 mt-4 p-5 border border-white" style="background-color:rgba(255, 255, 255, 0.448)">
    <table class="border border white w-75 container" style="background-color:rgba(0, 122, 128, 0.501)">
        <thead >
       <tr>
        
                 <th class="text-light border border white">Type</th>
                 <th class="text-light border border white" >Amount</th>
             
       </tr>
           
        </thead>
        <tbody>
            <tr *ngFor="let i of transaction">

                <td class="text-light border border white">{{i.type}}</td>
                <td class="text-light border border white">{{i.amount}}</td>
            </tr>
            
              
        </tbody>
       
    </table>
</div>